.jumbotron {
  background-image: url("https://media.giphy.com/media/39mEqC3AkHm6c/giphy.gif");
  height: 270px;
}
.jumbotron h1 {
  color: white;
  font-size: 100px;
  text-decoration: underline;
  font-family: "Anton"; cursive;
  text-shadow: 0.5px 0.5px white;
}
.game_button button {
  margin: 10px;
  border: 0;
  font-size: 20px;
  position: relative;
  animation-name: shake;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in;
  cursor: pointer;
}
button:hover {
  animation-name: shakeAnim;
}

@keyframes shakeAnim {
  0% {left: 0}
  1% {left: -2px}
  2% {left: 3px}
  3% {left: -5px}
  4% {left: 5px}
  5% {left: -3px}
  6% {left: 2px}
  7% {left: 0}
}
#move h2 {
  font-family: "Anton"; cursive;
  background-color: black;
  color: white;
}
#result h2 {
  font-family: "Anton"; cursive;
  background-color: black;
  color: white;
}
#move p {
  font-size: 20px;
  font-family: "Anton"; cursive;
  font-weight: bold;
  text-align: left;
}
#score {
  font-size: 30px;
  text-decoration: underline;
  font-family: "Anton"; cursive;
  font-weight: bold;
  text-align: left;
}
#verdict  {
  color: #DB3069;
  font-size: 30px;
  font-family: "Anton"; cursive;
  font-weight: bold;
  text-align: left;
}
#result p {
  font-size: 20px;
  font-family: "Anton"; cursive;
  font-weight: bold;
  text-align: left;
}
#reset {
  border-radius: 5px;
  font-size: 30px;
  font-weight: bold;
  margin: 40px;
  color: white;
  background-color: #DB3069;
  border-color: none;
  animation: none;
}
#reset:hover {
  background-color: #09BC8A;
}
@media screen and (max-width: 550px) {
 .jumbotron {
   height: 550px;
 }
}
@media screen and (max-width: 1000px) {
  .jumbotron h1 {
    font-size: 80px;
  }
}
